<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>세대주홈페이지</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 <!--  <link href="img/favicon.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/hiapt/resources/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
  <link href="/hiapt/resources/css/prettyphoto.css" rel="stylesheet">
  <link href="/hiapt/resources/css/hoverex-all.css" rel="stylesheet">
  <link href="/hiapt/resources/css/jetmenu.css" rel="stylesheet">
  <link href="/hiapt/resources/css/owl-carousel.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/hiapt/resources/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/hiapt/resources/css/blue.css">

</head>