/* 한글 폰트 지원*/
/* 구글 Noto Sans KR */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700');

/* 네이버 Nanum Gothic */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

/* 배민 Do Hyeon */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');

/*체크박스 스타일*/
.check {
display:block; position:relative; 
margin-bottom:12px; 
padding-left:25px; 
font-size:15px; 
cursor:pointer; 
user-select:none;
-webkit-user-select:none; 
-moz-user-select:none; 
-ms-user-select:none;}
.check input {
position:absolute; 
opacity:0; 
cursor:pointer;}
.checkmark {
position:absolute; 
top:0; left:0px; 
width:20px; 
height:20px; 
background-color:#fff; 
border:0.7px solid #ddd;
border-radius: 2px 2px;
}
.check:hover input ~ .checkmark {background-color:#ccc;}
.check input:checked ~ .checkmark {background-color:#2196F3;}
.checkmark:after {display:none; position:absolute; content:"";}
.check input:checked ~ .checkmark:after {display:block;}
.check .checkmark:after {
	top:2px; 
	left:7px;
 	width:5px;
 	height:13px;
  	border:solid white; 
  	border-width:0 3px 3px 0; 
  	transform:rotate(45deg);
  	-webkit-transform:rotate(45deg);
   -ms-transform:rotate(45deg);}
   
/*    페이지 스타일
   .pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-1 li:first-child a {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
}
.modal-1 li:last-child a {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
}
.modal-1 a {
  border-color: #ddd;
  color: #4285F4;
  background: #fff;
}
.modal-1 a:hover {
  background: #eee;
}
.modal-1 a.active, .modal-1 a:active {
  border-color: #4285F4;
  background: #4285F4;
  color: #fff;
}
  */  