
/aptuser/
/board/
/businesslog/
/chat/
/common/
/draft/
/employee/
/formbox/
/mail/
/notice/
/schedule/
/chat/
/board/
/complain/
/vote/
/addrbook/
/mail/
/employee/
/mybox/
/appline/
/draft/
/formbox/
/maintenance/
/aptuser/
